$icomoon-font-family: "nakedicons" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e900";
$icon-arrow-right: "\e901";
$icon-basket: "\e902";
$icon-close-small: "\e904";
$icon-close: "\e905";
$icon-start-date: "\e906";
$icon-pencil: "\e907";
$icon-naked-wordmark: "\e903";

